@charset "utf-8";

body{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin-top: 41px;
    margin-right: 41px;
    margin-bottom: 41px;
    margin-left: 41px;
    background-color: rgba(236,225,215,1.00);
}

.nav-bar ul li {
    display: inline-block;
    margin-left: 10px;
    text-align: right;
    margin-top: 11px;
    font-size: 20px;
}
nav ul {
    /*    text-align: right;*/
    list-style-type: none;
    margin-left: -14px;
    /* [disabled]font-size: 21px; *//*    text-align: justify;*/
}
a:link, a:visited {
    color: #DA8972;
    text-decoration: none;
}
a:hover, a:active {
    color: #6D171E;
    text-decoration: none;
}
h1 .highlight {
    color: rgba(109,23,30,1.00);
}

.header-photo img {
    max-width: 142px;
    border-radius: 10px;
    margin-left: 774px;
    background-color: rgba(109,23,30,1.00);
    -webkit-box-shadow: 0 0px 0px 20px rgba(109,23,30,1.00);
    box-shadow: 0 0px 0px 20px rgba(109,23,30,1.00);
    padding-top: 0px;
    padding-bottom: 1px;
    margin-bottom: 63px;
    margin-top: 28px;
}
.header-text p {
    font-size: 19px;
    margin-top: -24px;
}

.header-text {
    margin-left: 24px;
    margin-bottom: -238px;
    padding-bottom: 0px;
}
.header-text h1 {
    font-size: 54px;
    margin-top: -3px;
}

header{
    background-color: rgba(239,186,147,1.00);
    margin-top: -16px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.intro {
    margin-left: 13px;
    text-align: center;
}
